name: CI

on:
  push:
    tags:
      - v*
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest-8core

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          submodules: recursive

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x

      # make verify aka check:
      - name: Verify
        run: |
          # make revendor
          task generate:tidy
          task validate:lint
          # make verify
          task validate:vet
          make test

      - name: Build (fka component_descriptor_ocm)
        run: |
          # make build
          # creates only go builds
          task build:bin:build-raw
          # in old pipeline "component_descriptor_ocm" was called which
          # creates docker-images and component descriptor
          # make build-resources
          # TODO: used later for integration tests, should be there
