name: Integration Test Pull Request
on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest-8core
    if: |
      github.actor == 'renovate[bot]' ||
      github.actor == 'dependabot[bot]' ||
      contains(github.event.pull_request.title, 'run-int-tests') ||
      contains(github.event_name , 'workflow_dispatch')

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          submodules: recursive

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Context for Buildx
        id: buildx-context
        run: |
          docker context create builders

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        timeout-minutes: 5
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
        with:
          version: latest

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: go.mod

      - name: make revendor
        run: make revendor

      - name: make verify
        run: make verify

      - name: Build and Push Images
        run: NO_LATEST_TAG=1 make docker-images

      - name: Build and Push OCM Component
        run: make component

      - name: make test
        run: make test

      - name: run integration test
        env:
          GARDENER_KUBECONFIG: ${{ secrets.GARDENER_LAAS_SERVICE_ACCOUNT }}
          PULL_REQUEST_ID: ${{ github.event.pull_request.number || '0' }}
        run: |
          VERSION="$('./hack/get-version.sh')"
          "./hack/integration-test-runner.sh" "$GARDENER_KUBECONFIG" "garden-laas" "$VERSION" "$PULL_REQUEST_ID"
