name: Integration Test Pull Request
on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest-8core
    if: |
      github.actor == 'renovate[bot]' ||
      github.actor == 'dependabot[bot]' ||
      contains(github.event.pull_request.title, 'run-int-tests') ||
      contains(github.event.head_commit.message, 'run-int-tests') ||
      contains(github.event_name , 'workflow_dispatch')

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          submodules: recursive

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: go.mod

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x

      # make verify aka check:
      - name: Verify
        run: |
          # make revendor
          task generate:tidy
          task validate:lint
          # make verify
          task validate:vet

      - name: Build Images
        run: make docker-images

      # TODO: renable integration tests when component build is fixed
      # see Error: component transport: https://github.com/openmcp-project/landscaper/actions/runs/20100090751/job/57668372389?pr=49
      # - name: Build and Push OCM Component
      #   run: make component

      # - name: run integration test
      #   env:
      #     GARDENER_KUBECONFIG: ${{ secrets.GARDENER_LAAS_SERVICE_ACCOUNT }}
      #     PULL_REQUEST_ID: ${{ github.event.pull_request.number }}
      #   run: |
      #     VERSION="$('./hack/get-version.sh')"
      #     "./hack/integration-test-runner.sh" "$GARDENER_KUBECONFIG" "garden-laas" "$VERSION" "$PULL_REQUEST_ID"